# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


.vscode
.vimspector.json

node_modules/
jspm_packages/
package-lock.json
.next/
*__debug_bin

*.icloud

cmd/**/__*

.DS_Store
go.mod

postgres-data/

./build/VERSION

.env